body{
  font-family: "Outfit"
}

#intro{
  background-image: url(https://storekit-bootstrap-html-template.netlify.app/assets/images/common/breadcrumb-bg.png
  );
  padding-top: 100px;
  padding-bottom: 100px;
}
h1{
  font-size: 60px;
}

.bg-storekit{
  background: #F5F4F2;
}

.bg-storekit .border-bottom{
  border-bottom: 2px dashed #ddd !important; 
}

#products .container-fluid{
  padding-left: 160px;
  padding-right: 160px;
}